{% extends "autopark/master.html" %}

{% block title %}
  Добавление автомобиля
{% endblock %}

{% block content %}
  <div class="row col-12 offset-lg-2 col-lg-8">
    <h3 class="pt-5">Добавление автомобиля</h3>
    <form method="post" class="row" action="{% url 'add-car' %}">
      {% csrf_token %}
      <div class="col-12 pb-3">
        <label for="inputcarnumber" class="form-label fw-medium">Номер</label>
        <input type="text" name="car_number" class="form-control" id="inputcarnumber" placeholder="введите номер">
      </div>
      <div class="col-12 col-lg-6 pb-3">
        <label for="inputcartype" class="form-label fw-medium">Тип</label>
        <select class="form-select" id="inputcartype" name="car_type_id">
          <option selected disabled>Выберите тип</option>
          {% for car_type in types %}
          <option value="{{ car_type.id }}">{{ car_type.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-12 col-lg-6 pb-3">
        <label for="inputcarbrand" class="form-label fw-medium">Брэнд</label>
        <select class="form-select" id="inputcarbrand" name="car_brand_id">
          <option selected disabled>Выберите брэнд</option>
          {% for car_brand in brands %}
          <option value="{{ car_brand.id }}">{{ car_brand.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-12 pb-3">
        <label for="inputyear" class="form-label fw-medium">Год выпуска</label>
        <input type="number" value="{{ car.year }}" name="year" class="form-control" id="inputyear" placeholder="введите год выпуска">
      </div>
      <div class="col-12 pb-3">
        <input class="form-check-input" type="checkbox" name="is_electric" {% if car.is_electric %}checked{% endif %} id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Является ли электрическим
        </label>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-success">Сохранить</button>
      </div>
    </form>
  </div>
{% endblock %}
