{% extends "autopark/master.html" %}

{# Определение содержимого для блока title #}
{% block title %}
    Car list
{% endblock %}

{# Определение содержимого для блока content #}
{% block content %}
  <h1 class="text-center">Car list</h1>
  {# Кнопка скрывается, если пользователь не вошёл в систему #}
  {% if user.is_authenticated %}
  <a class="btn btn-outline-success" href="{% url 'add-car' %}">Добавить</a>
  {% endif %}
  <form class="d-flex" method="post" action="{% url 'upload_file' %}" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="file" name="myfile" class="form-control" id="file" style="width: 100px;">
      <button type="submit" class="btn btn-outline-primary">Загрузить</button>
  </form>
  <table class="table table-hover table-info table-striped-columns table-bordered border-black overflow-x-visible">
      <thead class="fw-bold h4 text-center">
      <tr>
          <th>Номер</th>
          <th>Тип</th>
          <th class="d-none d-md-table-cell">Бренд</th>
          <th class="d-none d-md-table-cell">Год</th>
          <th class="d-none d-lg-table-cell">явл. электр.</th>
          <th></th>
      </tr>
      </thead>
      <tbody class="align-middle">
      {% for car in cars %}
      <tr>
          <td>{{ car.car_number }}</td>
          <td>{{ car.car_type.name }}</td>
          <td class="d-none d-md-table-cell">{{ car.car_brand.name }}</td>
          <td class="d-none d-md-table-cell">{{ car.year }}</td>
          <td class="d-none d-lg-table-cell">
              {% if car.is_electric %}
                  Да
              {% else %}
                  Нет
              {% endif %}
          </td>
          <td>
            <a href="/auto-park/get-car-by-id/{{ car.id }}/" class="btn btn-outline-primary">Подробнее</a>
          </td>
      </tr>
      {% endfor %}
      </tbody>
  </table>
{% endblock %}
