{% extends "autopark/master.html" %}

{% block title %}
  <title>Изменение машины</title>
{% endblock %}

{% block content %}
  <div class="row col-12 offset-lg-2 col-lg-8">
    <h3 class="pt-5">Подробная информация о машине: {{ car.car_number }}</h3>
    <form method="post" class="row" action="{% url 'update-car' car_id=car.id %}">
      {% csrf_token %}
      <div class="col-12 col-lg-6 pb-3">
        <label for="inputcartype" class="form-label fw-medium">Тип</label>
        <select class="form-select" id="inputcartype" name="car_type_id">
          {% for car_type in types %}
          <option {% if car_type.id == car.car_type.id %} selected {% endif %} value="{{ car_type.id }}">{{ car_type.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-12 col-lg-6 pb-3">
        <label for="inputcarbrand" class="form-label fw-medium">Брэнд</label>
        <select class="form-select" id="inputcarbrand" name="car_brand_id">
          {% for car_brand in brands %}
          <option {% if car_brand.id == car.car_brand.id %} selected {% endif %} value="{{ car_brand.id }}">{{ car_brand.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-12 pb-3">
        <label for="inputyear" class="form-label fw-medium">Год выпуска</label>
        <input type="number" value="{{ car.year }}" name="year" class="form-control" id="inputyear" placeholder="введите год выпуска">
      </div>
      <div class="col-12 pb-3">
        <input class="form-check-input" type="checkbox" name="is_electric" {% if car.is_electric %}checked{% endif %} id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Является ли электрическим
        </label>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-outline-primary">Изменить</button>
        <a class="btn btn-danger" href="{% url 'delete-car' car_id=car.id %}">Удалить</a>
      </div>
    </form>
  </div>
{% endblock %}
